header {
    width: 100%;
    background-color: rgb(238, 236, 236);
    margin-bottom: 40px;
}
.nav-menu li {
    justify-content: center;
    cursor: pointer;
    padding: 20px 0;
}

.nav-menu li a {
    text-decoration: none;
}

li.active {
    color: #0282f9;
    border-bottom: 10px solid #0282f9;
    padding: 15px 0;
}

.header-logo {
    width: 30%;
    img {
        height: 70px;
        width: 70px;
    }
}

header {
    padding: 10px 0;
}

#search-bar {
    height: 50px;
}
